/* uncss:ignore */
.run_functions_button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  margin-top: -4rem;
  margin-left: -4rem;
  border: 1px solid $bg_color;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: $bg_color;
  background-color: #000;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

/* uncss:ignore */
.run-functions-button:hover {
  -webkit-transform: scale(1.1,  1.1);
  -moz-transform: scale(1.1,  1.1);
  -ms-transform: scale(1.1,  1.1);
  -o-transform: scale(1.1,  1.1);
  transform: scale(1.1,  1.1);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}

/* uncss:ignore */
.run-functions-button:active {
  -webkit-transform: scale(0.9,  0.9);
  -moz-transform: scale(0.9,  0.9);
  -ms-transform: scale(0.9,  0.9);
  -o-transform: scale(0.9,  0.9);
  transform: scale(0.9,  0.9);
}

/* uncss:ignore */
.run-functions-button.hide {
    background-color: #000;
    color: #777;
    -webkit-transition: -webkit-transform 0.8s, top 0.8s cubic-bezier(0.22,  -0.37,  0.75,  0.75);
    -moz-transition: -moz-transform 0.8s, top 0.8s cubic-bezier(0.22,  -0.37,  0.75,  0.75);
    -o-transition: -o-transform 0.8s, top 0.8s cubic-bezier(0.22,  -0.37,  0.75,  0.75);
    transition: transform 0.8s, top 0.8s cubic-bezier(0.22,  -0.37,  0.75,  0.75);
    top: 105%;
    -webkit-transform: scale(0,  0);
    -moz-transform: scale(0,  0);
    -ms-transform: scale(0,  0);
    -o-transform: scale(0,  0);
    transform: scale(0,  0);
}

/* uncss:ignore */
.touch {
  .touch-label { display: inline; }
  /* uncss:ignore */
  .no-touch-label { display: none;  }
}

/* uncss:ignore */
.no-touch .no-touch-label { display: inline;}
