/* uncss:ignore */
body.dragging {
  background-color: $blue;
  min-height: 100vh;
}

//svg colors
.octopal{
  //outline
  .st0{
    fill:$blue;
    // set variation on user action
    .dragging &{ fill : $blue_4;}
  }
  //body
  .st1{
    fill:$blue;
    .dragging &{ fill : $blue_4;}
  }
  //text
  .st2{
      fill:$blue_4;
      font: caption;
      font-size: 55px;
      font-weight: 200;
      text-align: center;
      .dragging &{ fill : $blue;}
    }
}


header {
  padding: 0;
  //background-color: rgba(255,255,255,.15);
  h1 {color: $white;}
  text-align: center;
  p { text-align: center; }
}

.logo{
  color: $blue;
}

/* uncss:ignore */
.container {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

.sharing_section {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 0;
}

/* uncss:ignore */
.drag_drop_section { display: none; }

.drop_shop_bg{
  //width: 80vw;
  //height: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.drop_zone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vw;
  margin: 0;
}

/* uncss:ignore */
.drop_zone.dragging .drop_zone_label { color: rgba(255,255,255,.5);}

/* uncss:ignore */
.drop_zone.dragging .default_label { display: none; }
/* uncss:ignore */
.drop_zone.dragging .dragging_label { display: block; }

// .drop_zone_label {
//   position: relative;
//   top: 18vw;
//   //line-height: 50vw;
//   color: rgba(255,255,255,.25);
//   font-size: $liquid_font_med;
//   text-align: center;
//   pointer-events: none;
//   text-transform: uppercase;
// }

/* uncss:ignore */
.get_color,
.function_title,
.dropped_image .run_functions_button,
.dragging_label,
code {display:none;}


.octopal{ pointer-events: none;}



/*** that's it folks ***/
