
.sharing-section {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 0;
}

/* uncss:ignore */
.drag-drop-section { display: none; }

.drop-zone {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    background-color: #222;
    border-radius: 50%;
}

.drop-zone.dragging {
    font-weight: 700;
    -webkit-box-shadow: inset 0 0 0 8px$bg_color;
    -moz-box-shadow: inset 0 0 0 8px$bg_color;
    box-shadow: inset 0 0 0 8px$bg_color;
}

.drop-zone.dragging .drop-zone-label { color:$bg_color;}

/* uncss:ignore */
.drop-zone.dragging .default-label { display: none; }

.drop-zone.dragging .dragging-label { display: block;}

.drop-zone-label {
  position: relative;
  top: 0;
  line-height: 50vw;
  color: white;
  font-size: $liquid_font_med;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
  border-radius: 50%;
}

/* uncss:ignore */
.get-color,
.function-title,
.dropped-image .run-functions-button,
.dragging-label,
code {display:none;}

/* that's it*/
