/* uncss:ignore */
body.dragging {
  background-color: $blue;

}

//svg colors
.octopal{
  //outline
  .st0{
    fill:$blue;
    // set variation on user action
    .dragging &{ fill : $blue_4;}
  }
  //body
  .st1{
    fill:$blue;
    .dragging &{ fill : $blue_4;}
  }
  //text
  .st2{
      fill:$blue_4;
      font: caption;
      font-size: 55px;
      font-weight: 200;
      text-align: center;
      .dragging &{ fill : $blue;}
  }
  //objects
  .eye{fill:$blue_4;}
  .eye_outline{
    //animate slow pulse infinite
    fill:transparent;
  }
  .body{}
  .body_outline{}

}


header {
  padding: 0;
  //background-color: rgba(255,255,255,.15);
  h1 {color: $white;}
  text-align: center;
  p { text-align: center; }
}

.logo{
  color: $blue;
}

/* uncss:ignore */
.container {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

.sharing_section {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 0;
}

/* uncss:ignore */
.drag_drop_section { display: none; }

.drop_shop_bg{
  margin-left: auto;
  margin-right: auto;
}

/* uncss:ignore */
body.dragging .drop_zone_label { color: rgba(255,255,255,.5);}

/* uncss:ignore */
body.dragging .default_label { display: none; }
/* uncss:ignore */
body.dragging .dragging_label { display: block; }

/* uncss:ignore */
.get_color,
.function_title,
.dropped_image .run_functions_button,
.dragging_label,
code {display:none;}

.octopal{ pointer-events: none;}



/*** that's it folks ***/
