
/* uncss:ignore */
.container {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}


/* uncss:ignore */
.color-thief-output {
  position: relative;
  display: none;
}

/* uncss:ignore */
.function-title {
  margin-top: 0;
  font-size: .5rem;
}

/* uncss:ignore */
.function {
  position: absolute;
  bottom:0;
  width: 100%;
  min-height: 100%;
}


/* uncss:ignore */
section {
  border-top: 2px solid $bg_color;
  text-align: center;
  padding: 2rem 0;
  /* uncss:ignore */
  &:first-of-type { border-top: none; }
}
