@charset "utf-8";

$text_color: red;
$html_bg_color: #161616;
$bg_color: rgb(74,141,212);

$liquid_font_base: 2vw;
$liquid_font_small: 1.5vw;
$liquid_font_med: 3vw;


@import
"base",
"buttons",
"images",
"output",
"swatches",
"footer",
"drop"
;
