footer,
header,
section {
  display: block;
}

html {
  background: #161616;
  color: #000;
  font: caption;
  font-weight: 400;
  font-size: 2vw;
}

body {
  margin: 0;
  padding: 0;
}

/* uncss:ignore */

a:focus {
  outline: thin dotted;
}

/* uncss:ignore */

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2rem;
  margin: 0.67em 0;
}

h1,
h2,
h3 {
  color: #222;
  line-height: 1.2;
  font-weight: 100;
}

h1 {
  font-size: 4rem;
  margin: 0 0 0.2rem 0;
  line-height: 1.1;
}

h2 {
  color: #4a8dd4;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 200;
}

h3 {
  color: #4a8dd4;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0 auto 2rem auto;
  text-align: left;
}

.lead {
  max-width: 50rem;
  margin-bottom: 1.4rem;
  font-size: 1.1rem;
}

a {
  color: #4a8dd4;
  text-decoration: none;
}

::-moz-selection,
::selection {
  background: #4a8dd4;
  color: #fff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  padding: 4rem 0 2rem 0;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
}

header h1 {
  color: white;
}

@media (min-width: 40rem) {
  header {
    padding: 2rem 0;
  }
}

.logo {
  color: #9cc1e8;
}

/* uncss:ignore */

.run-functions-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  margin-top: -4rem;
  margin-left: -4rem;
  border: 1px solid #4a8dd4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #4a8dd4;
  background-color: #000;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

/* uncss:ignore */

.run-functions-button:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}

/* uncss:ignore */

.run-functions-button:active {
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

/* uncss:ignore */

.run-functions-button.hide {
  background-color: #000;
  color: #777;
  -webkit-transition: -webkit-transform 0.8s, top 0.8s cubic-bezier(0.22, -0.37, 0.75, 0.75);
  -moz-transition: -moz-transform 0.8s, top 0.8s cubic-bezier(0.22, -0.37, 0.75, 0.75);
  -o-transition: -o-transform 0.8s, top 0.8s cubic-bezier(0.22, -0.37, 0.75, 0.75);
  transition: transform 0.8s, top 0.8s cubic-bezier(0.22, -0.37, 0.75, 0.75);
  top: 105%;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}

/* uncss:ignore */

.touch {
  /* uncss:ignore */
}

/* uncss:ignore */

.no-touch .no-touch-label {
  display: inline;
}

/* uncss:ignore */

.example-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* uncss:ignore */

.image-section {
  display: block;
  position: relative;
  padding: 2rem 0;
  /* uncss:ignore */
}

/* uncss:ignore */

.examples-section .image-section .target-image {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* uncss:ignore */

.examples-section .image-section.with-color-thief-output .target-image {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* uncss:ignore */

.target-image {
  display: block;
  width: 100%;
  min-height: 450px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}

/* uncss:ignore */

.container {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

/* uncss:ignore */

.color-thief-output {
  position: relative;
  display: none;
}

/* uncss:ignore */

.function-title {
  margin-top: 0;
  font-size: .5rem;
}

/* uncss:ignore */

.function {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}

/* uncss:ignore */

section {
  border-top: 2px solid #4a8dd4;
  text-align: center;
  padding: 2rem 0;
  /* uncss:ignore */
}

section:first-of-type {
  border-top: none;
}

/* uncss:ignore */

.swatch {
  display: inline-block;
  margin: 0;
  background: #ddd;
  color: white;
  font-size: .7rem;
  text-shadow: 0px 2px 2px black;
}

/* uncss:ignore */

.swatches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  line-height: 860px;
}

/* uncss:ignore */

.get-palette .swatch,
.get-color .swatch {
  height: 24rem;
  width: 100%;
  height: 100%;
}

/* uncss:ignore */

canvas {
  display: none;
}

/* uncss:ignore */

.swatch.dominant {
  display: none;
}

footer {
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0.15);
  color: #4a8dd4;
  text-align: center;
}

footer p {
  text-align: center;
}

footer a {
  border-bottom: 1px solid #4a8dd4;
}

footer a:hover {
  color: white;
  border-color: white;
}

/* uncss:ignore */

.drag-drop-section {
  display: none;
}

.drop-zone {
  width: 50vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  background-color: #222;
  border-radius: 50%;
}

/* uncss:ignore */

.drop-zone.dragging .default-label {
  display: none;
}

.drop-zone-label {
  position: relative;
  top: 0;
  line-height: 50vw;
  color: white;
  font-size: 3vw;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
  border-radius: 50%;
}

.function-title,
.dragging-label {
  display: none;
}

/* that's it*/
